body{
    background-color: rgb(14, 22, 41) !important;
    background-image: url("../img/background.png"); 
    font-family: 'Archivo Black', sans-serif !important;
}
.logo{
    height: 70px;
    width: 70px;
    margin-left: 30px;
}

.saludo{
    font-weight: bold;
    font-size: 2em;
    text-align: start;
}
#saludo{
    color: #01AAC8;
}
#saludo2{
    color: rgb(196, 194, 194);
}
    
.navbar .nav-link {
    margin-right: 30px;
    font-size: 23px;
    font-weight: bold;
}
.primeras-letras{
    color: #01AAC8
}
.segundas-letras{
    color: rgb(196, 194, 194);
}
.style-texth1{
    font-size: 80px;
    font-weight: bold;
}
.style-texth2{
    font-size: 60px;
    font-weight: bold;
    color: #01AAC8;
}
.box-separation{
    padding-top: 70px;
    padding-bottom: 70px;
}
.box-intro-style{
    background-color: #054657;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    overflow: hidden;
    word-wrap: break-word;
    width: 70%;
}
.box-style{
    background-color: #054657;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.grid-separation {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
.h3-style{
    font-size: 30px;
    color: #01AAC8;
    margin-left: 10px;
    margin-top: 10px;
}

.p-style{
    color: rgb(196, 194, 194);
    text-align: left;
}
.p-style-2{
    color: rgb(196, 194, 194);
    text-align: center;
}
hr.new{
    background-color: white !important;
    height:10px;
    border-radius: 10px;
}

.img-style {
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
    border-radius: 100px;
}
.box-style-grid {
    background-color: #054657;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.xd {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}
.project-style{
    text-align: center;
    color: #01AAC8;
    display: flex;
    justify-content: space-around;
    
}
.card{
    background-color:transparent !important;
    border: 0px solid !important;
    
}
.card img{
    border-radius: 20px;
    border: 3px solid black;
}
.card-title{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.box-style-contact{
    background-color: #054657;
    border-radius: 10px;
}
.contact-list{
    display: flex;
    justify-content: space-evenly;
}
.contact-list img{
    width: 70px;
    height: 70px;
}